# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*
*.log

# IDEs and Tools
.vscode/
.idea/

# macOS
.DS_Store

# local env files
.env*.local
.env

# sensitive files
*.pem
*.crt
*.key
sonarqube.crt

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# builds
build-*.apk
build-*.aab
build-*.ipa

# NativeWind
nativewind-env.d.ts

# API Testing
bruno/

# SonarQube
sonar-project.properties
.scannerwork

# Jest
coverage/
test-reports/